{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fine.css' %}">

    <title>Lagos House Price Estimator</title>
  </head>
  <body>
  
  <div class="content">
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">      
              <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP4RLxUq24G5fBSDkzRnpUHB8du0C9RO_7Uw&usqp=CAU" alt="Image" class="img-fluid center"></p>
    
              <h2 class="">Lagos Property Estimator <p><small style="font-size:20px;">By Eyimofe Pinnick</small></p></h2>
              

              <div class="row">
                <div class="col-md-12">
                <p class="text-black" style="font-weight:bolder"> What do you what to estimate?. The price of a property you want to buy? or the price of an abode you want to rent?</p>
              </div>
                <div class="col-md-6 mb-3">
                  <a href="{% url 'buy'%}" class="btn btn-success btn-lg">Price of a Home?</a>
                </div>
                
                <div class="col-md-6">
                  <a href="{% url 'rent'%}" class="btn btn-danger btn-lg">Rent price of a building?</a>
                </div>
              </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/selectFilter.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- <script src="{% static 'js/jquery.validate.min.js '%}"></script> -->
    <!-- <script src="{% static 'js/main.js '%}"></script> -->

  </body>
</html>